<!DOCTYPE HTML>
<html ng-app="todoApp">
<head>
	<title>To Do List</title>
	<link rel="stylesheet" type="text/css" href="todo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="todo.js"></script>
</head>
<body ng-controller="TodoListController as todoList">
	<h1>To Do List</h1>
	<span> {{todoList.remaining()}} of {{todoList.todos.length}} </span>
	[ <a href="" ng-click="todoList.archieve()">Archieve</a> ]
	<ul>
		<li ng-repeat="todo in todoList.todos">
			<input type="checkbox" ng-model="todo.done">
			<span class="done-{{todo.done}}"> {{todo.text}} </span>
		</li>
	</ul>
	<form ng-submit="todoList.addTodo()">
		<input type="text" ng-model="todoList.todoText" size="40" placeholder="Add To Do List Items here">
		<input type="submit" value="Add">
	</form>
</body>
</html>